streamlit==1.50.0
faiss-cpu==1.12.0
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.78
langchain-google-genai==2.1.12
langchain-openai==0.3.34
langchain-tavily==0.2.11
python-dotenv==1.1.1
requests>=2.32.5
langid==1.1.6